<div class="smallPoster"><a class="borderless smallPoster fill" href="{encMovieTitle}/"><span class="kinectCommand">{movieTitle}</span><img src="{posterUri}" alt="{movieTitle}" class="smallPoster borderless fill foreground"><div class="centerContainer fill"><div class="background borderless title whiteOnBlack">{movieTitle}</div><div class="completion foreground"><div class="completionBar"> </div></div></div></a></div>
