<!doctype html>
<html class="goodFont darkOnLight backdrop borderless fill">
<head>
<meta http-equiv="x-ua-compatible" content="IE=edge">
<script src="script.js"></script>
<script src="directionPad.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="borderless fill">
<h2 id="recentlyWatchedTitle">Recently Watched</h2>
<div class="posterList" id="recentlyWatched">
</div>
<h2>Movies</h2>
<div class="posterList">{moviesList}</div>
</body>
</html>
