<div class="smallPoster"><a class="borderless smallPoster fill" href="{encMovieTitle}/"><span class="kinectCommand">{movieTitle}</span><img src="{posterUri}" alt="{movieTitle}" class="smallPoster borderless fill"><div class="centerContainer fill"><div class="background borderless title whiteOnBlack">{movieTitle}</div></div></a></div>
