<!doctype html>
<html class="goodFont whiteOnBlack backdrop borderless fill">
<head>
<meta http-equiv="x-ua-compatible" content="IE=edge">
<script src="../script.js"></script>
<link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body class="borderless fill">
<video id="video" class="borderless fill" src="{movieUri}" poster="backdrop.jpg" autoplay controls preload="metadata"><div class="sorry">Your browser cannot use the HTML5 video element or cannot play this video.</div></video>
<a class="kinectCommand nextPage" href="{nextUri}">Next</a>
</body>
</html>
