.darkOnLight {
    background: #E2E2E2;
    color: #181818;
}

.goodFont {
    font-family: "Segoe UI";
}

.borderless {
    border: 0;
    margin: 0;
    padding: 0;
}

.fill {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.title {
    font-family: "Segoe UI";
    font-size: 300%;
    overflow: hidden;
    max-width: 100%;
    text-wrap: unrestricted;
}

.posterList {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.centerContainer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
}

.semiTransparent {
    opacity: 0.6;
}

.background {
    z-index: -1;
}

.foreground {
    z-index: 1;
}

.smallPoster {
    display: inline-block;
}

h2:only-child {
    display: none;
}

.kinectCommand {
    display: none;
}

.completion {
    width: 80%;
    height: 4%;
}

.visibleCompletion {
    border: 2px white solid;
    background: black;
}

.completionBar {
    left: 0%;
    height: 100%;
    width: 0%;
    position: relative;
    background: white;
}

@keyframes zindextop { 0% { z-index: 2; } }
@-webkit-keyframes zindextop { 0% { z-index: 2; } }
@keyframes zindexbottom { 100% { z-index: 0; } }
@-webkit-keyframes zindexbottom { 100% { z-index: 0; } }

.smallPoster {
    animation: zindexbottom 0.1s;
    -webkit-animation: zindexbottom 0.1s;
    transition: all 0.1s;
    width: 256px;
    height: 384px;
}

a.smallPoster:hover, a.smallPoster:focus {
    animation: zindextop 0.1s;
    -webkit-animation: zindextop 0.1s;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    z-index: 2;
    box-shadow: 0px 0px 10px 4px rgba(10, 10, 10, 0.75);
    border: black;
}

@media (min-width:1265px) and (max-width:1279) { /* 5 * 253 = 1265 */
.smallPoster {
    width: 253px;
    height: 379.5px;
}
}

@media (min-width:1235) and (max-width:1264) { /* 5 * 247 = 1235 */
.smallPoster {
    width: 247px;
    height: 370.5px;
}
}

@media (min-width:1024px) and (max-width:1234px) { /* 4 * 256 = 1024 */
.smallPoster {
    width: 256px;
    height: 384px;
}
}

@media (max-width:1023px) { /* 4 * 240 = 960 */
.smallPoster {
    width: 240px;
    height: 360px;
}
}

